POSTGRES_DB=mriqc_aggregator
POSTGRES_USER=mriqc
POSTGRES_PASSWORD=mriqc
POSTGRES_PORT=5432
API_PORT=8000
MRIQC_DATABASE_URL=postgresql+psycopg://mriqc:mriqc@localhost:5432/mriqc_aggregator
# POSTGRES_DATA_DIR=/data/postgres
# APP_SERVER=uvicorn
# GUNICORN_WORKERS=3
# GUNICORN_TIMEOUT=120
